.footer {
    background-color: #282c34;
    color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    margin-top: auto;
  }
  
  .footer-content {
    font-size: 1rem;
  }
  
  .footer .heart {
    color: red;
  }
  